
.loading-div{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--content-min-height);
}

.isAuthLevel{
    height: 100vh;
}

.isUserChild {
    flex: 1;
}

img {
    width: 200px;
}