/* Inner Container*/
.paddle-div{
    margin-top: 1em;
    flex-grow: 1;
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    gap: 2em;

    /* border: 1px solid black; */
    padding: 1.5em 1em;
    border-radius: 20px;
    background-color: hsl(120, 27%, 70%);
}

.paddle-img-div{
    flex-shrink: 0;
    width: 40%;
    max-width: 380px;

    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.paddle-detail-div{
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.tag-div{
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    font-size: 1.2rem;

    .paddle-brand{
        padding: 0.2em 1em;
        border-radius: 10px;
    }

    .paddle-type{
        padding: 0em 1em;
        border-radius: 10px;
    }
}

.paddle-name{
    font-weight: 800;
    font-size: 1.8rem;
}

.paddle-owner{
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.paddle-condition{
    margin-bottom: 0.5em;
    font-size: 1.2em;
    display: flex;

    .condition-star{
        margin-top: 0.1em;
        margin-left: 0.5em;
        color: #5d2f6a;
    }
}

.paddle-price{
    font-size: 1.6rem;
    color: var(--card-highlight-color);
    font-weight: 700;
}

.paddle-desc{
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 1.1rem;
}



.rent-btn{
    margin-top: 0.5em;
}

