
/* Outer container */
.paddle-detail-sec{
    min-height: var(--content-min-height);
    display: flex;
    flex-direction: column;
    padding: 0 var(--side-pad);
    width: 100%;
}

/* Back arrow */
.back-div-link{
    width: fit-content;
    margin-top: 0.5em;
}

.back-div {
    display: flex;
    gap: 0.5em;
    font-size: 1.2rem;
    width: fit-content;
}

.back-arrow{
    align-self: center;
}

.back-text{
    text-decoration: underline;
}

