.your-paddles-sec {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.your-paddles-sub-div {
    border-radius: 10px;
    min-height: 60px;
    padding: 0.8em 1em;
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.sub-div-title {
    font-size: 1.2rem;
    font-weight: 700;
    align-self: flex-start;
}

.list-paddle-btn {
    width: fit-content;
    text-align: center;
    text-decoration: underline;
    color: var(--card-highlight-color);
    font-weight: 600;
}

.paddle-overview-card {
    width: 100%;
    height: 120px;
    border-radius: 5px;
    padding: 1em;
    display: flex;
    gap: 1em;

    .paddle-overview-img-div {
        height: 100%;
        aspect-ratio: 1 /1;

        img {
            height: 100%;
            width: 100%;
            object-fit: fill;
            border-radius: 5px;
        }
    }

    .paddle-overview-desc-div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

        .paddle-overview-title {
            color: var(--card-highlight-color);
            font-weight: 700;
            font-size: 1.3rem;
        }

        .paddle-overview-time {
            margin-top: 0.3em;
            opacity: 0.6;
        }
    }

    .icon-div {
        display: flex;
        gap: 0.5em;
        font-size: 1rem;

        .icon-inner-div {
            position: relative;
            height: fit-content;
        }

        .paddle-card-icon:hover {
            color: var(--card-highlight-color);
            cursor: pointer;
        }

        .paddle-hint-div {
            display: none;
            position: absolute;
            top: -15px !important;
            left: 5px;
            font-size: 0.8rem;
            background-color: var(--btn-bg-color);
            color: white;
            padding: 0 0.4em;
            border-radius: 2px;
        }

        .view:hover .view-hint,
        .unlist:hover .unlist-hint,
        .submit:hover .submit-hint,
        .edit:hover .edit-hint,
        .del:hover .del-hint {
            display: block;
        }
    }

    .sales-made {
        color: hsl(287, 39%, 40%);
        font-size: 1rem;
        font-weight: 600;
    }
}

.listed {
    background-color: #a3c2ac;
}

.submitted {
    background-color: #85ad91;
}

.unlisted {
    background-color: #75a383;
}

.rejected {
    background-color: #5c8a6a;
}

.admin-inner-div {
    width: 100%;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
}

.feedback-form {
    width: 100%;

}

.feedback-title {
    display: block;
    width: fit-content;
    background-color: #a3c2ac;
    padding: 0.2em 1em 0.2em 0.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 600;
    border-bottom: 1px dotted black;
}

.feedback-div {
    width: 100%;
    display: flex;
    gap: 0.5em;

    textarea {
        width: 80%;
        resize: none;
        background-color: #c2d6c8;
        border: none;
        border-radius: 5px;
        border-top-left-radius: 0px;
        font-family: inherit;
        padding: 0.4em 0.4em;
    }

    .feedback-btn-div {
        width: 20%;

        button {
            width: 100%;
            border: none;
            font-family: inherit;
            color: whitesmoke;
            font-weight: 600;
            border-radius: 5px;
        }

        button:hover {
            cursor: pointer;
        }

        button:active {
            background-color: #c2d6c8;
            color: black;
        }

        .feedback-list-btn {
            background-color: var(--btn-bg-color);
        }

        .expanded {
            height: 100%;
        }

        .feedback-reject-btn {
            background-color: var(--error-color);
        }
    }
}

.feedback-error {
    color: var(--error-color);
    font-size: 0.9rem;
}

.rejected-reason {
    color: var(--error-color);
    margin-top: 0.2em;
    font-size: 0.9rem;
}